body{
    background-image: url(milkyway.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

h1{
    padding-top: 50px;
    text-align: center;
    font-family: 'Lucida Sans', Verdana, sans-serif; 
    color: rgb(74, 221, 177);
}

.vid{
    text-align: center;
    padding-top: 0px;
}

.vid iframe{
    border: 5px double rgb(60, 201, 135);
}

u{
    color: rgb(90, 41, 224);
}